*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
    background-color:black;
    transition: 0.4s;
}
.nav-link{
    font-size: 20px;
}
.nav-link:active,.nav-link:focus,.nav-link:hover{
  background-color: darkcyan;
}
.my-container{
    background-color: black;
    transition: 0.4s;
}
div#circle{
    width: 200px;
    height: 200px;
    border: 15px solid red;
    margin-top: 2%;
    margin-left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50%;
    animation: circle 2s infinite forwards;
}
@keyframes circle {
    0%{border-color:blue;transform:scale(1)}
    25%{border-color:white;transform:scale(1.1)}
    50%{border-color:violet;transform:scale(1.3)}
    75%{border-color:yellow;transform:scale(1.1)}
    100%{border-color:indigo;transform:scale(1)}
    
}
div#square{
    width: 75px;
    height: 75px;
    border: 5px solid pink;
    animation: square 2s infinite ease-in-out alternate-reverse;
}
@keyframes square {
    0%{transform:rotate(0deg)}
    25%{border-color: aqua;border-width: 10px;}
    50%{border-color:chartreuse;border-width: 20px;}
    75%{border-color:coral;border-width: 40px;}
    100%{transform:rotate(360deg);border-width: 5px;}
    
}
.active-nav{
    margin-left: 0;
}
.active-cont{
    margin-left: 250px;
}
#menu-btn{
    background-color: blueviolet;
    color: whitesmoke;
}
.my-container h2 span{
    color: darkblue;
}
.carousel-item{
    height:24rem;
}
#About{
    color: black;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.heading{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#about h1{
    margin: 55px;
}
.about{
    display: flex;
}
.about img{
    width: 500px;
    height: 400px;
    padding: 0px 30px;
}
.name{
    padding: 10px;
}
.name h2{
    font-size: 2rem;
}
.name p{
    font-size: 1.2rem;
}
.social{
    color: dodgerblue;
    transition: color 0.3s;
    text-decoration: none;
    text-align: left;
    position: absolute;
    transform: translateY(50%);
    bottom: 70px;
}
.social:hover{
    color: aqua;

}
.welcome{
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: absolute;
    font-size: 4rem;
}
.intro{
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 3rem;
}
#Education{
    background-color:white;
    color:white;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
.edu{
    color: black;
    text-align: center;
    padding-top: 30px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}
.column-2a {
    
    float: left;
    width: 20%;
    padding: 40px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom:60px;
    height:400px;
    margin:30px;
    margin-right:30px;
    margin-bottom: 40px;
    background-color:black;
    justify-content: center;
    
  }
 
@media all and (max-width:768px) {
    .display-h1{
        font-size: 5rem;
     }   
    
}
@media all and (max-width:567px) {
    .display-h1{
        font-size: 3rem;
     }   
    
}
@media all and (max-width:400px) {
    .display-h1{
        font-size: 2rem;
     }   
    
}
